<a href="https://colab.research.google.com/github/difo23/bitacoras-data-science/blob/main/new_r_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Usando R en google colab


[R new notebook](https://colab.research.google.com/notebook#create=true&language=r)

## Install new packages

In [5]:
install.packages("palmerpenguins")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

## Use library

In [6]:
library("palmerpenguins")

# Use summary for describe datasets

In [7]:
summary(penguins)

      species          island    bill_length_mm  bill_depth_mm
 Adelie   :152   Biscoe   :168   Min.   :32.10   Min.   :13.10
 Chinstrap: 68   Dream    :124   1st Qu.:39.23   1st Qu.:15.60
 Gentoo   :124   Torgersen: 52   Median :44.45   Median :17.30
                                 Mean   :43.92   Mean   :17.15
                                 3rd Qu.:48.50   3rd Qu.:18.70
                                 Max.   :59.60   Max.   :21.50
                                 NA's   :2       NA's   :2
 flipper_length_mm  body_mass_g       sex           year
 Min.   :172.0     Min.   :2700   female:165   Min.   :2007
 1st Qu.:190.0     1st Qu.:3550   male  :168   1st Qu.:2007
 Median :197.0     Median :4050   NA's  : 11   Median :2008
 Mean   :200.9     Mean   :4202                Mean   :2008
 3rd Qu.:213.0     3rd Qu.:4750                3rd Qu.:2009
 Max.   :231.0     Max.   :6300                Max.   :2009
 NA's   :2         NA's   :2

In [13]:
# Head for show the first line of the data set
head(penguins, 10)

   species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1  Adelie  Torgersen 39.1           18.7          181               3750
2  Adelie  Torgersen 39.5           17.4          186               3800
3  Adelie  Torgersen 40.3           18.0          195               3250
4  Adelie  Torgersen   NA             NA           NA                 NA
5  Adelie  Torgersen 36.7           19.3          193               3450
6  Adelie  Torgersen 39.3           20.6          190               3650
7  Adelie  Torgersen 38.9           17.8          181               3625
8  Adelie  Torgersen 39.2           19.6          195               4675
9  Adelie  Torgersen 34.1           18.1          193               3475
10 Adelie  Torgersen 42.0           20.2          190               4250
   sex    year
1  male   2007
2  female 2007
3  female 2007
4  NA     2007
5  female 2007
6  male   2007
7  female 2007
8  male   2007
9  NA     2007
10 NA     2007