<a href="https://colab.research.google.com/github/difo23/BitacorasDataScienceDominicano/blob/master/T2_ESTADISTICAS_PANDAS_TABLA_CONTINGENCIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bitácoras de un Data Scientist Dominicano:
## Tabla de contingencias y probabilidad condicionada.

##Importar Librería y conectarte a Drive

In [0]:
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

## Navegar hasta  carpeta Dataset usando comandos de bash

In [0]:
%ls

drive/  sample_data/

In [0]:
cd drive/

/content/drive

In [0]:
ls

'My Drive'/

In [0]:
%cd My\ Drive

/content/drive/My Drive

In [0]:
ls

'Assignment tracker.gsheet'  'Cursos DigData'/   'Getting started.pdf'
 Colab_Notebooks/             DigdataProyectos/  'Probando colaboradores.gdoc'

In [0]:
cd Colab_Notebooks/

/content/drive/My Drive/Colab_Notebooks

In [0]:
ls

BitacorasDataScienceDominicano/  DataSets/  INTRO_COLAB.ipynb  Notebooks/

In [0]:
cd DataSets/

/content/drive/My Drive/Colab_Notebooks/DataSets

In [0]:
ls

 flower_data/      raw_data_pacticas/   titanic_custom.csv
 flower_data.zip   titanic3.csv        'Titanic Description.txt'

In [0]:
pwd

'/content/drive/My Drive/Colab_Notebooks/DataSets'

## Crear dataframe desde documentos csv

In [0]:
df = pd.read_csv('titanic3.csv')

In [0]:
df.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [0]:
df.shape

(1309, 14)

In [0]:
df.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

## Crear tabla de contingencia con pandas

In [0]:
tabla_contingencia_titanic = pd.crosstab(df['sex'], df['survived'])

In [0]:
tabla_contingencia_titanic.head()

survived    0    1
sex
female    127  339
male      682  161

In [0]:
# axis = 0 son las columnas y axis = 1 son las filas

In [0]:
#total por sexo
tabla_contingencia_titanic.sum(axis= 1)

sex
female    466
male      843
dtype: int64

In [0]:
#total por sobrevivir
tabla_contingencia_titanic.sum(axis= 0)

survived
0    809
1    500
dtype: int64

## Probabilidad condicionada

### Probabilidad de no sobrevivir dado que eres  mujer en el titanic:
$$p(noSobrevivir|Mujer) = \frac{totalMujeresMuertas}{totaldemujeres}$$

In [0]:
#Probabilidad de morir siendo mujer:
#_mujeres_muertas / #_total_mujeres
127/466

0.27253218884120173

### Probabilidad de sobrevivir dado que eres  mujer ...:
$$p(Sobrevivir|Mujer) = \frac{totalMujeresVivas}{totaldemujeres}$$

In [0]:
#_mujeres_vivas / #_total_mujeres
339/466

0.7274678111587983

### Probabilidad de no sobrevivir dado que eres hombre ...:
$$p(noSobrevivir | hombre) = \frac{totalHombressMuertos}{totaldehombres}$$

In [0]:
#Probabilidad de ser hombre y morir
#_hombres_muertos / #_total_hombres
682/843

0.8090154211150652

### Probabilidad de sobrevivir dado que eres  hombre ...:
$$p(Sobrevivir | hombre) = \frac{totalHombressVivos}{totaldehombres}$$

In [0]:

#_hombres_vivos / #_total_hombres
161/843

0.19098457888493475

## Operacion completa de tabla de contingencias forma resumidad

In [0]:
#coumnas entre la suma de las filas
total_por_sexo = tabla_contingencia_titanic.sum(axis=1)

numero_sobrevivientes_y_noSobreviviente_por_sexo = 0 # en la tabla principal son las columnas

tabla_contingencia_titanic.astype('float').div(total_por_sexo, axis= numero_sobrevivientes_y_noSobreviviente_por_sexo)
#numero_sobrevivientes_y_noSobreviviente_por_sexo / total_por_sexo

survived         0         1
sex
female    0.272532  0.727468
male      0.809015  0.190985