# T1: Análisis exploratorio de datos

In [1]:
!pwd

/home/digdata/Documents/Notebooks/thinkstat/chapter1/T1-Exploracion_Importacion

In [2]:
!ls

2002FemPreg.dat  2002FemPreg.dat.gz  2002FemPreg.dct  T1-EXPLORATORY-DA2.ipynb

### Importando los datos para el analisis

Desde 1973, los Centros de Control y Prevención de Enfermedades de EE. UU. (CDC)
han realizado la Encuesta Nacional de Crecimiento Familiar (NSFG), que es
destinado a recopilar “información sobre la vida familiar, el matrimonio y el divorcio, el embarazo, la infertilidad, el uso de métodos anticonceptivos y la salud de hombres y mujeres. los
los resultados de la encuesta se utilizan ... para planificar servicios de salud y programas de educación para la salud, y para realizar estudios estadísticos de las familias, la fertilidad y la salud ". Ver
http://cdc.gov/nchs/nsfg.htm.

Archivo que detalla los campos del data frame Pregnacy ftp://ftp.cdc.gov/pub/Health_Statistics/NCHS/Dataset_Documentation/NSFG/Cycle6Codebook-Pregnancy.pdf

In [3]:
#Importando librerias utilizadas

import re
import numpy as np
import pandas as pd
from io import open

In [4]:
#Contiene la cabecera del archivo
dct_file = '2002FemPreg.dct'

In [5]:
#Contiene los datos recolectados de los elementos de analisis
dat_file = '2002FemPreg.dat'

In [6]:

# Por ejemplo, aquí hay algunas líneas de 2002FemPreg.dct, una sola columna:
# infile dictionary {
# _column(1) str12 caseid %12s "RESPONDENT ID NUMBER"
# _column(13) byte pregordr %2f "PREGNANCY ORDER (NUMBER)"
# }

In [7]:
#Esto es una sola linea de 2002FemPreg.dat:
#            1 1     6 1     11093 1084     9 039 9   0  1 813             1093 13837                        1                5                                                                        116610931166 9201093                111             3    1   12  11         5391 110933316108432411211     2995 1212 69544441116122222 2 2224693215    000000000000000000000000000000000000003410.38939935294273869.3496019830486 6448.2711117047512 91231

Consideraciones al transformar los datos a un DataFrame:
   * 2002FemPreg.dct es una especie de diccionario que tiene guardado el numero de columna, tipo de dato que almacena la columna, el nombre de la columna, el tamaño en caracteres de los datos de la columna y una pequeña descripcion de la misma.

In [8]:
# Necesitamos extraer el nombre y el tipo de datos que almacenaran las columnas de nuetro dataframe.

type_map = dict(byte=int, int=int, long=int, float=float, 
                    double=float, str12= int)

In [181]:
#Estos son los tipos de columnas que vimos al abrir el archivo .dct
#Tonaremos los tipos byte como int, eso se aplicara para otros tipos de datos #como muestra el dicccionario type_map

type_map

{'byte': int,
 'int': int,
 'long': int,
 'float': float,
 'double': float,
 'str12': int}

In [9]:
# creo un arrelgo para contener la informacion de nuestras variables a analizar
var_info = []

In [183]:
# Abrimos el archivo usando la funcion open de la libreria io
dct = open(dct_file)

In [184]:
# la estrategia que usaremos sera leer cada linea del archivo e ir extrayendo la informacion util de este archivo linea por linea.
dct.readline()

'infile dictionary {\n'

In [185]:
dct.readline()

'    _column(1)      str12                             caseid  %12s  "RESPONDENT ID NUMBER"\n'

In [186]:
line = dct.readline()

In [187]:
print('Linea del archivo .dct')
print(line)

Linea del archivo .dct
   _column(13)       byte                           pregordr   %2f  "PREGNANCY ORDER (NUMBER)"

In [188]:
# Busco el match columna dentro del archivo para empezar a dividir
# expresiones regulares con re
match = re.search( r'_column\(([^)]*)\)', line)

In [189]:
match

In [190]:
print('Match group 1 .dct')
print(match.group(1)) 
print(type(match.group(1)) )

Match group 1 .dct
13
<class 'str'>

In [191]:
match.group?

Docstring:
group([group1, ...]) -> str or tuple.
Return subgroup(s) of the match by indices or names.
For 0 returns the entire match.
Type:      builtin_function_or_method

In [192]:
#Paso a intero el numero de la columna
start = int(match.group(1))         
print(' start match group 1 .dct')
print(start )
print(type(start ) )

 start match group 1 .dct
13
<class 'int'>

In [193]:
# divido la linea por espacios en blanco
t = line.split()     
print('Arreglo T con los datos ')
print(t)

Arreglo T con los datos
['_column(13)', 'byte', 'pregordr', '%2f', '"PREGNANCY', 'ORDER', '(NUMBER)"']

In [194]:
 vtype, name, fstring = t[1:4]

In [195]:
name = name.lower()        
print('variable name aplicandole lower')
print(name)

variable name aplicandole lower
pregordr

In [196]:
print('variable vtype antes de estandarizarte con type_map')      
print(vtype)
print(type(vtype))

variable vtype antes de estandarizarte con type_map
byte
<class 'str'>

In [197]:
vtype = type_map[vtype]   
print('variable vtype despues de estandarizarte con type_map')
print(vtype) 
print(type(vtype))

variable vtype despues de estandarizarte con type_map
<class 'int'>
<class 'type'>

In [198]:
long_desc = ' '.join(t[4:])
print('variable long_desc guarda la descripcion larga del comando sin strip')
print(long_desc)

long_desc = ' '.join(t[4:]).strip('"')
print('variable long_desc guarda la descripcion larga del comando sin strip')
print(long_desc)

variable long_desc guarda la descripcion larga del comando sin strip
"PREGNANCY ORDER (NUMBER)"
variable long_desc guarda la descripcion larga del comando sin strip
PREGNANCY ORDER (NUMBER)

In [199]:
#agregamos la primera variable creada para a nuestro arreglo var_info
var_info=[] 
# para la prueba de contexto volvemos a limpiar el arreglo en esta linea
# var_ info debe contener todas las variables del dct.
var_info.append((start, vtype, name, fstring, long_desc))
var_info

[(13, int, 'pregordr', '%2f', 'PREGNANCY ORDER (NUMBER)')]

In [200]:
# Creo nombres de columnas estandar  para formar un dataframe
columns = ['start', 'type', 'name', 'fstring', 'desc']

In [201]:
#Uno la inforacion de las variables obtenidas de dct y las columnas estandard 
#Con esto busco formar mi pirmer dataframe 
variables = pd.DataFrame(var_info, columns=columns)

In [202]:
variables.head()

   start           type      name fstring                      desc
0     13  <class 'int'>  pregordr     %2f  PREGNANCY ORDER (NUMBER)

In [203]:
#variables es nuestro primer data frame para trabajar
# Pandas dataframe.shift () función Desplazar índice por el número deseado de períodos con una frecuencia de tiempo opcional. Esta función toma un parámetro escalar llamado período, que representa el número de cambios que se realizarán sobre el eje deseado. Esta función es muy útil cuando se trata de datos de series de tiempo.
# rellene la columna final desplazando la columna de inicio
variables['end'] = variables.start.shift(-1)

In [204]:
h = variables.start

In [205]:
h

0    13
Name: start, dtype: int64

In [206]:
h.shift(-1)

0   NaN
Name: start, dtype: float64

In [207]:
variables.head()

   start           type      name fstring                      desc  end
0     13  <class 'int'>  pregordr     %2f  PREGNANCY ORDER (NUMBER)  NaN

In [208]:
variables.loc[len(variables)-1, 'end'] = 0

In [209]:
variables.head()

   start           type      name fstring                      desc  end
0     13  <class 'int'>  pregordr     %2f  PREGNANCY ORDER (NUMBER)  0.0

## Funcion para crear dataframe dct para todas las variables:

In [24]:
columns = ['start', 'type', 'name', 'fstring', 'desc']

def convertir_dct (dct_file, type_map, columns):
    var_info = []
    with open(dct_file) as dct:
        for line in dct:
            match = re.search( r'_column\(([^)]*)\)', line)
            if not match:
                continue
            start = int(match.group(1))
            t = line.split()
            vtype, name, fstring = t[1:4]
            name = name.lower()
            vtype = type_map[vtype]
            long_desc = ' '.join(t[4:]).strip('"')
            var_info.append((start, vtype, name, fstring, long_desc))
    
    variables = pd.DataFrame(var_info, columns=columns)
    # rellene la columna final desplazando la columna de inicio
    variables['end'] = variables.start.shift(-1)
    variables.loc[len(variables)-1, 'end'] = 0
    return variables

In [25]:
dct_variables = convertir_dct(dct_file, type_map, columns)

In [26]:
dct_variables.head()

,start,type,name,fstring,desc,end
0,1,<class 'int'>,caseid,%12s,RESPONDENT ID NUMBER,13.0
1,13,<class 'int'>,pregordr,%2f,PREGNANCY ORDER (NUMBER),15.0
2,15,<class 'int'>,howpreg_n,%2f,BB-2 # OF WEEKS OR MONTHS CURRENTLY PREGNANT,17.0
3,17,<class 'int'>,howpreg_p,%1f,BB-2 CURRENT PREGNANCY LENGTH REPORTED IN MONT...,18.0
4,18,<class 'int'>,moscurrp,%1f,NUMBER OF MONTHS CURRENTLY PREGNANT,19.0

In [27]:
dct_variables.shape

(243, 6)

In [28]:
# Ya tenemos un df con todas nuestras variables, lo siguiente es unir este con los Datos!

In [29]:
# colspecs: lista de tupla (int, int) o "inferir". Opcional
# Una lista de tuplas que da la extensión de los campos de ancho fijo de cada línea como intervalos medio abiertos (es decir, [desde, hasta []). El valor de cadena "inferir" se puede usar para indicar al analizador que intente detectar las especificaciones de columna de las primeras 100 filas de los datos que no se omiten a través de los skiprows (por defecto = 'infer').

index_base = 1
colspecs = dct_variables[['start', 'end']] - index_base
colspecs

     start    end
0        0   12.0
1       12   14.0
2       14   16.0
3       16   17.0
4       17   18.0
5       18   19.0
6       19   20.0
7       20   21.0
8       21   22.0
9       22   23.0
10      23   27.0
11      27   28.0
12      28   32.0
13      32   33.0
14      33   37.0
15      37   39.0
16      39   41.0
17      41   43.0
18      43   45.0
19      45   47.0
20      47   49.0
21      49   50.0
22      50   51.0
23      51   52.0
24      52   53.0
25      53   54.0
26      54   55.0
27      55   56.0
28      56   58.0
29      58   60.0
..     ...    ...
213    362  363.0
214    363  364.0
215    364  365.0
216    365  366.0
217    366  367.0
218    367  368.0
219    368  369.0
220    369  370.0
221    370  371.0
222    371  372.0
223    372  373.0
224    373  374.0
225    374  375.0
226    375  376.0
227    376  377.0
228    377  378.0
229    378  379.0
230    379  380.0
231    380  381.0
232    381  382.0
233    382  383.0
234    383  384.0
235    384  385.0
236    385  386.0
237    386  404.0
238    404  422.0
239    422  440.0
240    440  441.0
241    441  443.0
242    443   -1.0

[243 rows x 2 columns]

In [30]:
colspecs = colspecs.astype(np.int).values.tolist()
colspecs

[[0, 12],
 [12, 14],
 [14, 16],
 [16, 17],
 [17, 18],
 [18, 19],
 [19, 20],
 [20, 21],
 [21, 22],
 [22, 23],
 [23, 27],
 [27, 28],
 [28, 32],
 [32, 33],
 [33, 37],
 [37, 39],
 [39, 41],
 [41, 43],
 [43, 45],
 [45, 47],
 [47, 49],
 [49, 50],
 [50, 51],
 [51, 52],
 [52, 53],
 [53, 54],
 [54, 55],
 [55, 56],
 [56, 58],
 [58, 60],
 [60, 61],
 [61, 62],
 [62, 64],
 [64, 66],
 [66, 67],
 [67, 68],
 [68, 70],
 [70, 72],
 [72, 73],
 [73, 77],
 [77, 81],
 [81, 83],
 [83, 84],
 [84, 85],
 [85, 86],
 [86, 87],
 [87, 89],
 [89, 90],
 [90, 91],
 [91, 92],
 [92, 93],
 [93, 94],
 [94, 95],
 [95, 97],
 [97, 98],
 [98, 99],
 [99, 100],
 [100, 101],
 [101, 102],
 [102, 104],
 [104, 105],
 [105, 107],
 [107, 108],
 [108, 109],
 [109, 110],
 [110, 114],
 [114, 118],
 [118, 121],
 [121, 122],
 [122, 123],
 [123, 124],
 [124, 125],
 [125, 126],
 [126, 129],
 [129, 130],
 [130, 133],
 [133, 134],
 [134, 137],
 [137, 138],
 [138, 141],
 [141, 142],
 [142, 143],
 [143, 144],
 [144, 148],
 [148, 152],
 [152, 155],
 [155, 156],
 [156, 157],
 [157, 158],
 [158, 159],
 [159, 160],
 [160, 162],
 [162, 163],
 [163, 165],
 [165, 166],
 [166, 168],
 [168, 169],
 [169, 171],
 [171, 172],
 [172, 173],
 [173, 174],
 [174, 178],
 [178, 182],
 [182, 185],
 [185, 186],
 [186, 187],
 [187, 188],
 [188, 189],
 [189, 190],
 [190, 191],
 [191, 192],
 [192, 193],
 [193, 194],
 [194, 195],
 [195, 196],
 [196, 197],
 [197, 201],
 [201, 205],
 [205, 209],
 [209, 213],
 [213, 217],
 [217, 221],
 [221, 225],
 [225, 229],
 [229, 233],
 [233, 234],
 [234, 235],
 [235, 236],
 [236, 238],
 [238, 240],
 [240, 242],
 [242, 244],
 [244, 245],
 [245, 246],
 [246, 247],
 [247, 248],
 [248, 249],
 [249, 250],
 [250, 253],
 [253, 254],
 [254, 255],
 [255, 256],
 [256, 258],
 [258, 259],
 [259, 260],
 [260, 261],
 [261, 262],
 [262, 263],
 [263, 264],
 [264, 266],
 [266, 268],
 [268, 269],
 [269, 270],
 [270, 271],
 [271, 272],
 [272, 273],
 [273, 274],
 [274, 276],
 [276, 277],
 [277, 279],
 [279, 283],
 [283, 287],
 [287, 291],
 [291, 295],
 [295, 296],
 [296, 297],
 [297, 298],
 [298, 299],
 [299, 301],
 [301, 303],
 [303, 304],
 [304, 305],
 [305, 308],
 [308, 309],
 [309, 310],
 [310, 311],
 [311, 312],
 [312, 313],
 [313, 317],
 [317, 319],
 [319, 321],
 [321, 322],
 [322, 323],
 [323, 325],
 [325, 327],
 [327, 328],
 [328, 329],
 [329, 330],
 [330, 331],
 [331, 333],
 [333, 335],
 [335, 336],
 [336, 337],
 [337, 340],
 [340, 341],
 [341, 342],
 [342, 343],
 [343, 344],
 [344, 348],
 [348, 349],
 [349, 350],
 [350, 351],
 [351, 352],
 [352, 353],
 [353, 354],
 [354, 355],
 [355, 356],
 [356, 357],
 [357, 358],
 [358, 359],
 [359, 360],
 [360, 361],
 [361, 362],
 [362, 363],
 [363, 364],
 [364, 365],
 [365, 366],
 [366, 367],
 [367, 368],
 [368, 369],
 [369, 370],
 [370, 371],
 [371, 372],
 [372, 373],
 [373, 374],
 [374, 375],
 [375, 376],
 [376, 377],
 [377, 378],
 [378, 379],
 [379, 380],
 [380, 381],
 [381, 382],
 [382, 383],
 [383, 384],
 [384, 385],
 [385, 386],
 [386, 404],
 [404, 422],
 [422, 440],
 [440, 441],
 [441, 443],
 [443, -1]]

In [31]:
names = dct_variables['name']
names

0               caseid
1             pregordr
2            howpreg_n
3            howpreg_p
4             moscurrp
5             nowprgdk
6             pregend1
7             pregend2
8             nbrnaliv
9             multbrth
10            cmotpreg
11          prgoutcome
12            cmprgend
13            flgdkmo1
14            cmprgbeg
15            ageatend
16            hpageend
17          gestasun_m
18          gestasun_w
19             wksgest
20             mosgest
21             dk1gest
22             dk2gest
23             dk3gest
24       bpa_bdscheck1
25       bpa_bdscheck2
26       bpa_bdscheck3
27             babysex
28         birthwgt_lb
29         birthwgt_oz
            ...
213             lbw1_i
214         bfeedwks_i
215         maternlv_i
216         oldwantr_i
217         oldwantp_i
218         wantresp_i
219         wantpart_i
220             ager_i
221         fmarital_i
222         rmarital_i
223           educat_i
224           hieduc_i
225             race_i
226         hispanic_i
227         hisprace_i
228         rcurpreg_i
229          pregnum_i
230           parity_i
231         insuranc_i
232         pubassis_i
233          poverty_i
234         laborfor_i
235         religion_i
236            metro_i
237            basewgt
238    adj_mod_basewgt
239           finalwgt
240             secu_p
241               sest
242            cmintvw
Name: name, Length: 243, dtype: object

In [32]:
 #Crear data frame final con los datos de '2002FemPreg.dat'
df = pd.read_fwf(dat_file, colspecs=colspecs, names=names)

In [33]:
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,poverty_i,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231

## Creacion de clase para transformar los archivos .dat basados en un objeto dct

In [34]:
class DCTFixedWidthDAT(object):
    def __init__ (self, variables, index_base=0):
        self.variables = variables
        self.colspecs = variables[['start', 'end']] - index_base
        self.colspecs = self.colspecs.astype(np.int).values.tolist()
        self.names = variables['name']
        
    def ReadDatToFixed(self, dat_file, **options):
        df = pd.read_fwf( dat_file, colspecs=self.colspecs, names=self.names, **options)
        return df

### Usar la funcion y la clase para resumir el trabajo de exploracion dct y dat

In [35]:
variables = convertir_dct(dct_file, type_map, columns)

In [36]:
dct = DCTFixedWidthDAT(variables, index_base)

In [37]:
df= dct.ReadDatToFixed(dat_file)

In [38]:
df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,poverty_i,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,3410.389399,3869.349602,6448.271112,2,9,1231
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,0,7226.301740,8567.549110,12999.542264,2,12,1231

### Convertir los data frame a csv

In [39]:
df.to_csv('2002fempredat.csv')

In [40]:
dct = dct_variables[['start', 'type', 'name', 'fstring', 'desc']]

In [41]:
dct.to_csv('2002fempregdct.csv')

In [43]:
#crear un csv sin el index del dataframe orige

df.to_csv('2002fempredat_noindx.csv', index=False)
dct.to_csv('2002fempregdct_noindx.csv', index= False)